table {
    border-radius: 10px;
    border-collapse: collapse;
    margin:0 auto;
}
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    max-width:100%;
    white-space:nowrap;
}
th{
    background-color: #0984e3;
}
tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: #ddd;}
body{
    background-color: #4FC3F7;
}
.button {
    background-color: #0984e3; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 20px;
}

.button1 {
    background-color: #0984e3; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 10px;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #A3E4D7  ;
  }
  .left .centered{
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  /* Control the right side */
  .right {
    right: 0;
    background-color: #7FDBFF;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }